body {
	font-size: 8px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	margin: 10px;
}

h2 {
	font-size: 12px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}

hr {
	border: 0px;
	height: 1px;
	color: black;
	background-color: black;
}

b.title {
	font-size: 10px;
}