body {
	width: 500px;
	font-size: 10px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	margin: 10px;
	margin-left: 20px;
	color: #3d3c3c;
}

.paragraph {
	margin-top: 20px;
	width: 400px;
	padding: 10px;
	padding-top: 0px;
	border: 1px solid #3d3c3c;
}

.imageList {
	padding: 10px;
	padding-top: 0px;
	margin-bottom: 10px;
	width: 400px;
}

h1, h2 {
	color: #3a3266;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	margin-bottom: 0px;
	margin-top: 0px;
}

hr {
	border: 0px;
	height: 1px;
	color: black;
	background-color: black;
}

b.title {
	font-size: 10px;
}